/*.about {

}*/

.about__title {
  font-size: 25px;
  margin: 0;
  padding-bottom: 28px;
}

.about__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about__item {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  padding-bottom: 30px;
}
