.about {
  padding-top: 31px;
  margin: 0;
}

.about__title {
  font-size: 25px;
  margin: 0;
  margin-bottom: 25px;
}

.about__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.about__item {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  padding-top: 50px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}
