

.about__title {
  font-size: 25px;
  margin-bottom: 25px;
}

.about__list {
  @include list-reset;
}

.about__item {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  padding-bottom: 30px;
}
