.about {
  padding-top: 31px;
  margin: 0;
}

.about__title {
  font-size: 25px;
  margin: 0;
  margin-bottom: 25px;
}

.about__list {
  @include list-reset;
}

.about__item {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  padding-top: 50px;
  margin-bottom: 30px;
}
