.button {
  display: inline-flex;
  color: $text-color;
  padding: 0;
  text-transform: uppercase;
  box-sizing: border-box;
  border: 2px solid $text-color;
  border-radius: 0;
  background-color: $white;


  &--primary {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    padding: 16px 70px;
  }
}
