.button {
  display: inline-flex;
  color: $text-color;
  padding: 0;
  text-transform: uppercase;
  border-radius: 0;
  background-color: $transparent;

  &:hover {
    color: $white;
    background-color: $text-color;
  }

  &--primary {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    padding: 18px 30px;
    border: 2px solid $text-color;
    justify-content: center;

    @media (max-width: $mobile-width-only) {
      width: 100%;
    }
  }

  &--secondary {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    padding: 18px 30px;
    border: 2px solid $text-color;

    @media (max-width: $mobile-width-only) {
      width: 100%;
    }
  }
}
