.button {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #444444;
  text-transform: uppercase;
  box-sizing: border-box;
  border: 2px solid #444444;
  background-color: #ffffff;
  padding: 16px 70px;
}
