.contacts__title {
  margin: 0;
  padding-top: 30px;
  color: $black;
}

.contacts__item {
  padding-bottom: 30px;
}

.contacts__tag {
  font-size: 14px;
  padding-right: 30px;
}

.contacts__value {
  font-size: 14px;
}

.contacts__button {
  margin-bottom: 39px;
}
