.contacts {
  padding-top: 31px;
  margin: 0;
  margin-bottom: 62px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 20px;
  color: $black;
}

.contacts__item {
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.contacts__tag {
  font-size: 14px;
  padding-right: 31px;
}

.contacts__value {
  font-size: 14px;
}

.contacts__map {
  height: 455px;
  width: 100%;
  background-image: url("../img/map-mobile@1x1.png");
  background-repeat: no-repeat;
  margin-bottom: 42px;
}
