.contacts__title {
  margin-bottom: 20px;
  padding-top: 30px;
  color: $black;
}

.contacts__item {
  padding-bottom: 30px;
}

.contacts__tag {
  font-size: 14px;
  padding-right: 30px;
}

.contacts__value {
  font-size: 14px;
}
