.contacts__title {
  margin: 0;
  padding-top: 30px;
}

.contacts__tag {
  font-size: 14px;
  padding-right: 30px;
}

.contacts__value {
  font-size: 14px;
}

.contacts__button {
  margin-bottom: 39px;
}

.contacts__map {
  width: 100%;
  height: 454px;
  background-image: url("../img/map-mobile@1x\1.png");
}
