.form-main__title {
  padding-top: 41px;
  margin-top: 0;
  margin-right: 41px;
  font-size: 27px;
  color: $black;
  background-color: $seashell;
  height: 117px;
}

.form-main__description {
  margin-top: 0;
  margin-bottom: 29px;
}

.form__group {
  margin: 0;
}
