.form__group {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.form__title {
  margin-bottom: 25px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: $accent-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 163px;
    padding-top: 5px;
  }
}

.form__list {
  @include list-reset;
  padding-top: 25px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.form__item {
  position: relative;
  display: block;
  padding-top: 5px;
  margin-bottom: 20px;
  color: $black;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.form__legend {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 30px;
}
