.hero {
  width: 320px;
  margin: 0 auto;
  background-color: $alabaster;
  background-repeat: no-repeat;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 50px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: block;
      bottom: -24px;
      width: 100%;
      height: 35px;
      background-image: url("../img/zigzag-fill-tablet.svg");
    }
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    padding: 0 50px;
  }
}

.hero__headline {
  margin: 0;
  padding-top: 85px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: $black;
  font-size: 27px;
  background-image: url("../img/hero-mobile@2x1.jpg");
  background-repeat: no-repeat;
  height: 300px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    background-image: url("../img/hero-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 651px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    background-image: url("../img/hero-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 746px;
    width: 100%;
  }
}

.hero__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.hero__item {
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  padding-top: 24px;
  padding-bottom: 31px;
  padding-right: 30px;
  padding-left: 30px;

  &--interior {
    background-color: $accent-color;
  }

  &--toys {
    background-color: $fountain-blue;
  }
}

.hero__unit {
  color: $white;
}
