.main-nav {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0;
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;
}

.main-nav__logo {
  align-self: center;
  height: 35px;
  width: 86px;
  margin-top: 22px;
  margin-bottom: 22px;
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
}

.main-nav__list {
  @include list-reset;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.main-nav__special-list {
  font-size: 15px;
}

.main-nav__delivery {
  margin: 0;
  font-size: 15px;
}
