.page-header {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}
