.product {
  margin-bottom: 30px;
}

.product__photo {
  margin: 0;
}

.product__info {
  margin: 0;
}

.product__title {
  margin-top: 0;
  margin-bottom: 6px;
}

.product__title-link {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.product__description {
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 41px;
}

.product__price {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  color: $black;
}
