.product {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr;
  }
}

.product__photo {
  margin: 0;
}

.product__info {
  margin: 0;
  padding-top: 27px;
  padding-right: 28px;
  padding-left: 28px;
  padding-bottom: 27px;

  @media (min-width: $tablet-width) {
    padding-right: 34px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 28px;
    padding-left: 28px;
  }
}

.product__title {
  margin-top: 0;
  margin-bottom: 6px;
}

.product__title-link {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.product__description {
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    margin-bottom: 172px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.product__order-info {
  padding-top: 23px;
  margin-bottom: 26px;
}

.product__price {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}
