.promo {
  padding-top: 25px;
  margin-bottom: 30px;
}

.promo__headline {
  font-size: 25px;
  font-weight: 700;
  color: $black;
  margin-bottom: 4px;
}

.promo__top-product {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: $accent-color;
  text-transform: uppercase;
}

.promo__description {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 25px;
}

.promo__table {
  padding-bottom: 28px;
  line-height: 20px;
}

.promo__feature {
  padding-bottom: 12px;
}

.promo__tag {
  padding-right: 25px;
}

.promo__image {
  margin-bottom: 25px;
}

.promo__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 40px;
}
