.promo {
  padding-top: 25px;
  padding-bottom: 30px;
}

/*.promo__title {

}*/

.promo__headline {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  margin: 0;
}

.promo__top-product {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: #63d1bb;
}

/*.promo__information {

}*/

.promo__description {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #444444;
  margin: 0;
  padding-top: 17px;
  padding-bottom: 25px;
}

.promo__table {
  margin: 0;
  padding-bottom: 28px;
  color: #444444;
  line-height: 20px;
}

.promo__tag {
  padding-right: 25px;
  padding-bottom: 12px;
}

.promo__value {
  padding-bottom: 12px;
}

.promo__image {
  padding-bottom: 25px;
}

.promo__price {
  color: #444444;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  padding-bottom: 40px;
}

/*.promo__request {

}*/
