.promo {
  margin-bottom: 35px;
}

.promo__title {
  margin-bottom: 18px;
}

.promo__headline {
  font-size: 25px;
  font-weight: 700;
  color: $black;
  margin: 0;
  margin-bottom: 4px;
}

.promo__top-product {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: $accent-color;
  text-transform: uppercase;
}

.promo__description {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-bottom: 20px;
}

.promo__table {
  line-height: 20px;
  margin-bottom: 28px;
}

.promo__tag {
  padding-right: 20px;
}

.promo__tag,
.promo__value {
  padding-top: 10px;
  padding-bottom: 10px;
}

.promo__image {
  margin-bottom: 25px;
}

.promo__price {
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}
