.promo {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
  }

  @media (min-width: $desktop-width) {
    display: grid;
    align-items: flex-start;
  }
}

.promo__headline {
  font-size: 25px;
  font-weight: 700;
  color: $black;
  margin: 0;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    grid-row: 1/2;
    grid-column: 1/3;
    margin-bottom: 37px;
    font-size: 43px;
    line-height: 50px;
  }
}

.promo__top-product {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: $accent-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: end;
    padding-top: 5px;
    line-height: 17px;
    text-align: center;
    width: 90px;
  }
}

.promo__description {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-bottom: 48px;
  margin-right: 42px;

  @media (min-width: $tablet-width) {
    grid-row: 2/3;
    grid-column: 1/2;
    font-size: 17px;
    line-height: 30px;
    width: 292px;
  }
}

.promo__table {
  line-height: 20px;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 3/4;
    margin-right: 42px;
  }
}

.promo__tag {
  padding-right: 20px;
}

.promo__tag,
.promo__value {
  padding-top: 10px;
  padding-bottom: 10px;
}

.promo__image {
  background-image: url("../img/triple-set-mobile.jpg");
  width: 260px;
  height: 315px;

  @media (min-width: $tablet-width) {
    grid-row: 2/-1;
    grid-column: 2/-1;
    background-image: url("../img/triple-set-tablet.jpg");
    width: 334px;
    height: 404px;
  }
}

.promo__price {
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    align-self: center;
    margin-right: 42px;
  }
}

.promo__button {
  @media (min-width: $tablet-width) {
    align-self: end;
    margin-right: 42px;
  }
}
