.promo {
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
}

.promo__title {
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.promo__headline {
  font-size: 25px;
  font-weight: 700;
  color: $black;
  margin: 0;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }
}

.promo__top-product {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: $accent-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    line-height: 17px;
    text-align: center;
    width: 90px;
  }
}

.promo__information {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.promo__description {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    width: 292px;
  }
}

.promo__table {
  line-height: 20px;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    width: 292px;
  }
}

.promo__tag {
  padding-right: 20px;
}

.promo__tag,
.promo__value {
  padding-top: 10px;
  padding-bottom: 10px;
}

.promo__image {
  margin-bottom: 25px;
  background-image: url("../img/triple-set-mobile.jpg");
  width: 260px;
  height: 315px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/triple-set-tablet.jpg");
    width: 334px;
    height: 404px;
  }
}

.promo__price {
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}
