.slider {
  margin: 0;
  margin-bottom: 30px;
}

.slider__title {
  font-size: 25px;
  color: $black;
  font-weight: 700;
  margin: 0;
  margin-bottom: 14px;
  padding-top: 30px;
}

.slider__list {
  list-style: none;
}

.slider__item {
  margin-bottom: 33px;
}

.slider__text {
  margin: 0;
  margin-bottom: 33px;
}

.slider__autor {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: $black;
}

.slider__email {
  font-size: 17px;
}
