/*.slider {

}*/

.slider__title {
  font-size: 25px;
  color: #000000;
  font-weight: 700;
  margin: 0;
  padding-bottom: 14px;
}

.slider__list {
  list-style: none;
}

.slider__item {
  padding-bottom: 33px;
}

.slider__text {
  color: #444444;
  margin: 0;
  padding-bottom: 33px;
}

.slider__autor-name {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

.slider__email {
  font-size: 17px;
}

/*.slider__arrows {

}*/
