.social {
  display: flex;
  align-items: baseline;
  list-style: none;
  justify-content: center;
}

.social__item {
  padding-right: 20px;
  margin-right: 20px;
}

.social__link {
  &--instagram {
    display: block;
    width: 22px;
    height: 21px;
    background-color: palevioletred;
  }

  &--facebook {
    display: block;
    width: 15px;
    height: 29px;
    background-color: darkblue;
  }

  &--twitter {
    display: block;
    width: 24px;
    height: 20px;
    background-color: darkcyan;
  }
}
