.video__post {
  padding-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.video__title {
  margin-bottom: 26px;
  color: $black;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.video__description {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 41px;
}
