$white: #ffffff;
$black: #000000;
$downy: #63d1bb;
$fountain-blue: #56c3b2;
$viking: #59d5bc;
$puerto-rico: #46c1ae;
$tundora: #444444;
$seashell: #f1f1f1;
$tarnsparent: rgba($black, 0);
$opacity-black: rgba($black, 0.3);
$accent-color: $downy;
$text-color: $tundora;
